{
  "comments": false,
  "presets": [
    [
      "@babel/preset-env", { "modules": false },
      "@babel/transform-object-assign"
    ],
    "babel-preset-minify"
  ],
  "env": {
    "test": {
      "presets": [
        ["@babel/preset-env"]
      ]
    }
  }
}
